body{
	margin: 30px;
	font-family: 'Play', sans-serif;
}

img{
	width: 270px;
}

nav
{
	color: crimson;
	float: right;
	padding-right: 100px;
}

#title{
	color: white;
	background-color: crimson;
	padding-left: 20px;
}

button
{
	padding-right: 20px;
	padding-left: 20px;
	font-size: 24px;
	color: crimson;
}
#map{
	width:100%;
	height:500px;
}

#subtitle{
	padding: 20px;
}

h3{
	position: relative;
	color: crimson;
	float: left;
}

.icon{
	width: 50px;
	float: left;
	padding-left: 10px;;
}

footer{
	margin-top: 40px;
}

footer p{
	margin-left: 43%;
	color: crimson;
}
#iw-container  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* De acordo com o arredondamento dos cantos da infowindow por padrão. */
}